annotated-types==0.7.0
anyio==4.14.2
apsw==3.53.3.1
apswutils==0.1.2
beautifulsoup4==4.15.0
click==8.4.2
dnspython==2.8.0
dotenv==0.9.9
execnet==2.1.2
fastcore==2.1.1
fastlite==0.2.4
h11==0.16.0
httpcore2==2.7.0
httptools==0.8.0
httpx2==2.7.0
idna==3.18
iniconfig==2.3.0
itsdangerous==2.2.0
loguru==0.7.3
oauthlib==3.3.1
packaging==26.2
pluggy==1.6.0
pydantic==2.13.4
pydantic-core==2.46.4
pygments==2.20.0
pymongo==4.17.0
pytest==9.1.1
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-fasthtml==0.14.6
python-multipart==0.0.32
pyyaml==6.0.3
ruff==0.15.22
six==1.17.0
soupsieve==2.8.4
starlette==1.3.1
-e file:///home/vueko/Projetos/torrent_downloader_front
truststore==0.10.4
typing-extensions==4.16.0
typing-inspection==0.4.2
uvicorn==0.51.0
uvloop==0.22.1
watchfiles==1.2.0
websockets==16.1
